In [1]:
# Use GPU
import os
os.environ['HSA_OVERRIDE_GFX_VERSION'] = '10.3.0'

##### Read data and basic exploration

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',150)

data_path = './data/'
train = 'train.csv'
test = 'test.csv'
example_submission = 'sample_submission.csv'

train_file = os.path.join(data_path,train)
test_file = os.path.join(data_path,test)

In [3]:
df = pd.read_csv(train_file)

print(df.info())

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
None

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

##### Create new keywords column as cleaned version of keyword column

In [4]:
# get list of keywords in keyword column
keywords = df['keyword'].apply(lambda x: list() if not x else str(x).split("%20"))
keywords

0       [nan]
1       [nan]
2       [nan]
3       [nan]
4       [nan]
        ...
7608    [nan]
7609    [nan]
7610    [nan]
7611    [nan]
7612    [nan]
Name: keyword, Length: 7613, dtype: object

In [5]:
# create new column
df.insert(2, 'keywords', keywords)
df.dropna(subset=['keyword'])

,id,keyword,keywords,location,text,target
31,48,ablaze,[ablaze],Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,[ablaze],Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,[ablaze],AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,[ablaze],"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,[ablaze],"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
...,...,...,...,...,...,...
7578,10830,wrecked,[wrecked],NaN,@jt_ruff23 @cameronhacker and I wrecked you both,0
7579,10831,wrecked,[wrecked],"Vancouver, Canada",Three days off from work and they've pretty mu...,0
7580,10832,wrecked,[wrecked],London,#FX #forex #trading Cramer: Iger's 3 words tha...,0
7581,10833,wrecked,[wrecked],Lincoln,@engineshed Great atmosphere at the British Li...,0
7582,10834,wrecked,[wrecked],NaN,Cramer: Iger's 3 words that wrecked Disney's s...,0

In [16]:
df['location'].dropna().values.tolist()

['Birmingham',
 'Est. September 2012 - Bristol',
 'AFRICA',
 'Philadelphia, PA',
 'London, UK',
 'Pretoria',
 'World Wide!!',
 'Paranaque City',
 'Live On Webcam',
 'milky way',
 'GREENSBORO,NORTH CAROLINA',
 'Live On Webcam',
 'England.',
 'Sheffield Township, Ohio',
 'India',
 'Barbados',
 'Anaheim',
 'Abuja',
 'USA',
 'South Africa',
 'Sao Paulo, Brazil',
 'hollywoodland ',
 'Edmonton, Alberta - Treaty 6',
 'Inang Pamantasan',
 'Twitter Lockout in progress',
 'Concord, CA',
 'Calgary, AB',
 'Birmingham',
 'San Francisco',
 'CLVLND',
 'Nashville, TN',
 'Santa Clara, CA',
 'UK',
 'St. Louis, MO',
 'Walker County, Alabama',
 'Australia',
 'North Carolina',
 'Norf Carolina',
 'San Mateo County, CA',
 'North Carolina',
 'Njoro, Kenya',
 "Your Sister's Bedroom",
 'Arlington, TX',
 'South Bloomfield, OH',
 'New Hanover County, NC',
 'Maldives',
 'Manchester, NH',
 'Wilmington, NC',
 'New Hanover County, NC',
 'global',
 'Alberta | Sask. | Montana',
 'Charlotte',
 'Baton Rouge, LA',
 'Hagerstown, MD',
 'Gloucestershire , UK',
 'UK',
 'Nairobi, Kenya',
 'Instagram - @heyimginog ',
 '304',
 'Switzerland',
 '304',
 'US',
 '304',
 'Instagram - @heyimginog ',
 '304',
 'Somewhere Only We Know ?',
 'Belgium',
 'Switzerland',
 'US',
 'dope show',
 'Switzerland',
 'Switzerland',
 'Oshawa, Canada',
 'Baker City Oregon',
 'United States',
 '304',
 '304',
 'marysville ca ',
 '304',
 'Hermosa Beach, CA',
 '304',
 '304',
 '19.600858, -99.047821',
 'Pennsylvania',
 'Salt Lake City, Utah',
 'Palo Alto, CA',
 'Spain but Opa-Locka, FL',
 'Jaipur, India',
 'Hyderabad Telangana INDIA',
 'Eagle Pass, Texas',
 'bangalore',
 'Financial News and Views',
 'Indonesia',
 'y(our) boyfriends legs ',
 'New Mexico, USA',
 'Somewhere Out There',
 'Mumbai india',
 'sri lanka',
 'Not a U.S resident',
 'Lehigh Valley, PA',
 'Canada',
 'Thrissur',
 'Havenford',
 'India',
 '92',
 'Israel',
 'Fashion Heaven. IG: TMId_',
 'San Francisco, CA',
 'italy',
 'nyc',
 'Toronto',
 'Jackson',
 'New York / Worldwide',
 'New Orleans, LA',
 'West Wales',
 'Happily Married with 2 kids ',
 'Cambridge, MA',
 'Arizona ',
 'Mumbai',
 'Amsterdam',
 'Swindon,England ',
 'Happily Married with 2 kids ',
 'Williamstown, VT',
 'North Carolina, USA',
 'Karachi',
 'Happily Married with 2 kids ',
 'Happily Married with 2 kids ',
 'Loveland Colorado',
 '|| c h i c a g o ||',
 'L. A.',
 'Canada',
 'VISIT MY YOUTUBE CHANNEL.',
 'Lexington',
 'USA',
 'Hannover, Germany',
 'Playa',
 'Davidson, NC',
 'Higher Places',
 'Horsemind, MI',
 'New York, NY',
 'Boksburg',
 'V-RP @OZRP_ ?MV, AU, R18+?',
 'Greater Manchester, UK',
 'Boston',
 'The Canopy Kingdom',
 'USA',
 'the own zone layer ',
 'London',
 'Trancy Manor',
 'South 37',
 'West Lancashire, UK.',
 'PA',
 '\x89Û¢ Views From The Six \x89Û¢',
 'University of Toronto',
 'Swaning Around',
 'London',
 'Albany/NY',
 'California, USA',
 'Wild Wild Web',
 'Subconscious LA',
 'Spain',
 'CA physically- Boston Strong?',
 'Yeezy Taught Me , NV',
 'CA physically- Boston Strong?',
 'United States',
 'Rock Hill, SC',
 'Coolidge, AZ',
 'Republic of Texas',
 'Phoenix, AZ',
 'Ljubljana, Slovenia',
 'Connecticut',
 'Tacoma,Washington',
 'Subconscious LA',
 'BIG D  HOUSTON/BOSTON/DENVER',
 'Chandler, AZ',
 'ColoRADo',
 'sindria',
 'Texas',
 'Elk Grove, CA, USA',
 'Texas',
 'The Shire',
 'Austin, TX',
 'Oakland',
 'Albuquerque',
 'Buenos Aires, Argentina',
 'San Antonio-ish, TX',
 'San Francisco',
 'Oregon, USA',
 'Harlingen, TX',
 'Buffalo NY',
 'Las Vegas',
 'Tokyo',
 'California, United States',
 'California, United States',
 '#FLIGHTCITY UK  ',
 'Alphen aan den Rijn, Holland',
 'Wrigley Field',
 'probably the strip club',
 'Canada',
 'England',
 'USA',
 'California, United States',
 'California, United States',
 'New York City',
 'Here And There',
 'Rotterdam, Zuid-Holland',
 'Derry, 17 ',
 'Nowhere. Everywhere.',
 'Florida, USA',
 'Worldwide',
 'Nowhere. Everywhere.',
 'East Coast',
 'California',
 'Toronto, ON',
 'The Orwellion police-state',
 'Castaic, CA',
 'Helsinki, Finland',
 'East Kilbride',
 '#FLIGHTCITY UK  ',
 'middle eastern palace',
 'Kent',
 'Nowhere. Everywhere.',
 '#FLIGHTCITY UK  ',
 'Perthshire ',
 'twitch.tv/naturalemblem26',
 'cyprus',
 'Memphis, TN',
 'Studio',
 'Hollywood, CA',
 'New York',
 'Pakistan',
 'Mexico! ^_^',
 'Campinas Sp',
 'Harlem, New York',
 'New York',
 'Washington, DC',
 'Burbank,CA',
 'New York',
 '? ',
 'Spokane, Washington',
 'USA',
 'Charlotte, NC',
 'Our Empire State',
 'Jerusalem',
 'Kingston, Pennsylvania',
 'Milwaukee, WI',
 'Zero Branco',
 'Republic of Texas',
 'bajaur',
 'USA',
 'Eldoret, kenya',
 '\x89ÛÊ\x89ÛÊ\x89ÛÊ',
 'Jerusalem',
 'Miami,FL',
 'Los Angeles, CA',
 'North-East Region, Singapore',
 'Eldoret, kenya',
 'Chicago',
 'EARTH ',
 'Jerusalem, Israel',
 'Menasha, WI',
 'ss',
 'Atlanta',
 'Earth',
 'ss',
 'Worldwide',
 'Bleak House',
 'heccfidmss@gmail.com',
 'ss',
 'toronto',
 '[ Blonde Bi Fry. ]',
 'America',
 'NYC :) Ex- #Islamophobe',
 'SF Bay Area',
 'Orange County, California',
 'ss',
 'Winston Salem, North Carolina',
 'ss',
 'Adelaide, South Australia',
 'ss',
 'WASHINGTON,DC',
 'California',
 'ss',
 ' snapchat // fvck_casper ',
 'New York',
 'ss',
 'ss',
 'ss',
 'United States',
 'Dallas, TX',
 'NYC',
 'Location',
 'Selena | Britney | Hilary',
 'Ireland',
 'Freeport IL. USA',
 'Dubai',
 'Tucson, Az',
 'India',
 'Seattle WA',
 'Bellevue NE',
 'West Bank, Gaza Strip',
 '\x89Û¢FLG\x89Û¢',
 'Scotland, United Kingdom',
 'Online 24/7. Not even kidding.',
 'rowyso dallas ',
 'Halton, Ontario',
 'Mumbai',
 'portland, oregon',
 'FIMAK A.S Ist Bolge Muduru',
 'London.',
 '#UNITE THE BLUE  ',
 'Dayton, Ohio',
 'Global',
 'ph',
 'Port Jervis, NY',
 'City Of Joy',
 'Los Angeles, CA',
 'Texas, USA',
 '1/3 of the blam squad ',
 'CCH ',
 'atx',
 'MAURITIUS',
 'AKRON OHIO USA',
 'London',
 'london / st catharines ?',
 'Peshawar',
 'LEALMAN, FLORIDA',
 'Los Angeles, CA',
 'San Francisco, CA',
 '#GDJB #ASOT',
 'Groningen, Netherlands, Europe',
 'Livingston, IL  U.S.A.',
 'Arundel ',
 'America',
 'Anna Maria, FL',
 'USA',
 'israel',
 'The Hammock, FL, USA',
 '??????????????????',
 'SÌ£o Paulo SP,  Brasil',
 "in Dimitri's arms",
 'Oslo, Norway',
 'Los Angeles',
 'Loughton, Essex, UK',
 'guaravitas',
 'Score More Goals Buying @',
 'NEW YORK',
 'Ireland',
 'UK',
 'London, Kent & SE England.',
 'Score Team Goals Buying @',
 'New York, NY',
 'South Central Wales',
 'Jersey City, New Jersey',
 'Denver, CO',
 'Brasil',
 'Buy Give Me My Money ',
 '505 W. Maple, Suite 100',
 'Buy Give Me My Money ',
 'Buy Give Me My Money ',
 'Philippines',
 'Freeport il ',
 'Canada',
 'World',
 'Danville, VA',
 'New York',
 'UK Great Britain ',
 'NYC',
 'Jerusalem!',
 'San Jose, CA',
 'USA',
 'San Francisco',
 'Dallas, TX',
 'Baton Rouge, LA',
 'Use #TMW in tweets get #RT',
 'Earth',
 'Utah',
 'Wisconsin',
 'West Richland, WA',
 'CHICAGO (312)',
 'New York',
 'USA',
 'Australia',
 'California',
 'Washington D.C.',
 'NC',
 'West Virginia, USA',
 'British girl in Texas',
 'Silver Spring, MD',
 'USA',
 'Phoenix, AZ',
 'Atlanta, GA',
 'Manhattan, NY',
 'Wilmington, DE',
 'Memphis',
 'iTunes',
 'United States',
 'Oxford, MS',
 'US',
 'Atlanta, GA',
 'Pelham, AL',
 'New York',
 'Atlanta, GA',
 'Jacksonville, FL',
 'Arkansas, Jonesboro',
 'Across the Atlantic',
 'Melbourne, Florida',
 'Worldwide',
 'Over the Moon...',
 'Extraterrestrial Highway',
 'Espoo, Finland',
 'Washington, D.C., area',
 'OES 4th Point. sisSTAR & TI',
 'Sydney, New South Wales',
 'San Francisco, CA',
 'Netherlands,Amsterdam-Virtual ',
 'New York City',
 'Hudson Valley, NY',
 'Philadelphia, PA',
 'timeline kamu',
 'Budapest, Hungary',
 'Searching for Bae ',
 'Sydney, New South Wales',
 'California',
 'Eagle Mountain, Texas ',
 'Columbus',
 'Temecula, CA',
 'Atlanta,Ga',
 'Fresno, CA',
 'Australia',
 'Raleigh Durham, NC',
 'ducked off . . . ',
 'Rio de Janeiro',
 '302',
 'Columbus, OH',
 'PA',
 'Mo.City',
 'Tripsburg, ms.',
 'Durham N.C ',
 'Delhi',
 'ARIZONA',
 'Penn Hills, PA',
 'Karachi ',
 'seattle wa',
 'Mo.City',
 'SOUTHERN CALIFORNIA DESERT',
 'Gotham City',
 'My contac 27B80F7E 08170156520',
 'Dallas, TX',
 'Pig Symbol, Alabama',
 'Intramuros, Manila',
 'New York',
 'THE WORLD T.G.G / M.M.M ',
 'Between the worlds ',
 'State of Georgia',
 'Your screen',
 'Lima-Peru',
 'worldwide',
 'Saltillo, Coahuila de Zaragoza',
 'Suitland',
 'Everywhere',
 'Konoha',
 'Swag Francisco',
 'Saint Marys, GA',
 'New York',
 'Nigeria',
 'Essex/Brighton',
 'Pennsylvania, PA',
 'Rockford, IL',
 'AZ',
 'Vero Beach , FL',
 'IN',
 'In the middle of no where',
 'Baltimore, MD',
 'Florida, USA',
 'dmv ?? fashion school @ KSU. ',
 'Nice places ',
 'Quantico, VA',
 'Island Lake, IL',
 'Live Oak, TX',
 'Gages Lake, IL',
 'Madisonville TN',
 'Basketball City, USA ',
 'AEP',
 'Alberta Pack',
 '#expelcl*y',
 'My heart is a ghost town!',
 'The Great State of Texas',
 'Alicante, Valencia',
 'Atlanta',
 'Greensboro, NC',
 ' Indiana',
 'the local dump',
 'Seattle',
 '#SOUTHAMPTON ENGLAND',
 '?205?478?',
 'Waterford MI',
 'Iowa, USA',
 'va',
 'Florida',
 'california mermaid ? ',
 'New York ? ATL',
 'USA/SO FLORIDA via BROOKLYN NY',
 'H / pez & sophia ',
 'Brooklyn, NY',
 'Queens, NY',
 'Vancouver, BC.',
 'Ottawa, Canada',
 'wherever the $$$ at',
 'Purgatory, USA',
 'Calgary, Alberta',
 'Kama | 18 | France ',
 'Sydney',
 'London',
 'Maryland, USA',
 'Daruka (near Tamworth) NSW',
 'IJmuiden, The Netherlands',
 'University Heights, Ohio',
 'Central Illinois',
 'Baton Rouge',
 'USA',
 'PSN: Pipbois ',
 'Colombo,Sri Lanka.',
 'Johannesburg, South Africa ',
 "Me mammy's belly",
 'UK & Ibiza',
 'Laventillemoorings ',
 'UK',
 'Scotland',
 'London',
 'Vancouver, BC',
 'Cleveland, OH',
 'Kama | 18 | France ',
 'Kama | 18 | France ',
 'UK',
 'Detroit, MI, United States',
 'Guelph Ontario Canada',
 'Waterfront',
 'columbus ohio',
 'Canada',
 'Waukesha, WI',
 'Sydney',
 'Himalayan Mountains',
 'Colorado/WorldWide',
 'Ontario Canada',
 'California, USA',
 'Houston,  TX',
 'lakewood colorado',
 'THE 6IX',
 'Washington, USA',
 'The ?? below ???',
 'United States',
 'Ontario Canada',
 'Ideally under a big tree',
 'United States',
 "Conversing In Janet's CafÌ¬",
 "???????, ??'??????",
 "Dime's Palace",
 'Cairo, Egypt',
 'Seattle, WA',
 'Bug Forest',
 'canberra',
 'International',
 'The World',
 'Htx',
 'PunPunlÌ¢ndia',
 '???',
 'Itirapina, SÌ£o Paulo',
 'North Jersey',
 'Ewa Beach, HI',
 'Biloxi, Mississippi',
 'Buenos Aires',
 'Indonesia',
 'Brecksville, OH',
 'Walthamstow, London',
 'Malaysia',
 'Ivano-Frankivsk',
 'Sunshine Coast, Queensland',
 "Dime's Palace",
 'England,UK,Europe,Sol 3.',
 'Chicago',
 'Nashua NH',
 'Leicester',
 '65',
 'Westchester',
 'Lynnfield, MA',
 'Level 3 Garrison, Sector G',
 'Singapore',
 'Adelaide, South Australia',
 'Las Vegas',
 'Glasgow',
 'Shity land of Northern Ireland',
 'Singapore',
 'Christchurch New Zealand',
 'peekskill. new york, 10566 ',
 'PH',
 'Storybrooke ',
 'under the blanket',
 'Isolated City In World Perth',
 'Brazil ',
 'AUS',
 'Santa Cruz, CA',
 'Inverness, Nova Scotia',
 'L/S/Z/L/T/H/C/H/R/A/S/C',
 'Oklahoma',
 '801 SL,UT',
 'fluffy cloud',
 'USA',
 'The 5th Dimension. ',
 'Georgia',
 'July 11th, 2015. ?',
 'The Grey Area',
 'St Paul, MN',
 'Cobblestone',
 'ÌÏT: 30.307558,-81.403118',
 'Scotland',
 'Cosmic Oneness',
 'Guildford, UK',
 'Nowhere Islands/Smash Manor',
 'kisumu',
 'Los Angeles',
 'Making Worldwide Change Near U',
 'ATX',
 'LA/OC/Vegas',
 'London/Outlaw Country ',
 'Grimsby, England',
 'Gotham',
 'Manchester, The World, England',
 'New York',
 'New York',
 'sitting on Eddie Vedders lap,',
 'New York',
 'New York',
 'NYC',
 'Missouri, USA',
 'US',
 'California, USA',
 'Greenville,SC',
 'New York',
 'New York',
 'Paignton',
 'California, USA',
 'New York',
 'Paignton',
 'Paignton',
 'New York',
 'New York',
 'Paignton',
 'New York',
 'have car; will travel',
 'Sydney, New South Wales',
 'ATL ? SEA ',
 'ÌÏT: 39.982988,-75.261624',
 '#EngleWood CHICAGO ',
 '302???? 815',
 'New Your',
 'Texas',
 'New York, NY',
 'PURPLE BOOTH STUDIO\x89ã¢',
 'Cloud 9',
 'Former Yugoslav Republic of Macedonia',
 '3?3?7?SLOPelousas??2?2?5?',
 '316',
 'Global',
 "#WhereverI'mAt",
 'Huber Heights, OH',
 'Miami ??',
 'Houston, TX',
 'Every where',
 'Arizona ',
 "401 livin'",
 'MI',
 'EPTX',
 'Austin, Texas',
 'Oklahoma City',
 'CA',
 'United Kingdom',
 'WESTSIDE OF PHILLY 7? BLOCK??',
 'CA',
 'Wisconsin',
 'Charlotte NC',
 'LONG ISLAND, NY',
 'washington, d.c.',
 'United Kingdom',
 'WAISTDEEP, TX',
 'Swaning Around',
 'D.C. - Baltimore - Annapolis',
 '#937??#734',
 'Fife, WA',
 'Bushkill pa',
 'In the Shadows...',
 'southwest, Tx',
 'California, USA',
 'ANYWEHERE !!',
 'Menlo Park. SFO. The World.',
 'Speaking the Truth in Love',
 'Aarhus, Central Jutland',
 'Lincoln, NE',
 'wny',
 'Bolton & Tewkesbury, UK',
 "travelling to tae's pants",
 'keli x',
 'Manchester',
 'Canada',
 'Knoxville, TN',
 'Australia',
 'ChicagoRObotz',
 "whs '17",
 'NV',
 'Ireland',
 'lagos nigeria',
 'Edmonton, Alberta',
 '[Gia.] | #KardashianEmpire',
 'Sunrise Manor, NV',
 'Oxford, OH',
 'Odawara, Japan',
 'Chicago, IL',
 'Des Moines, IA',
 'Dundas, Ontario',
 'New York',
 'IDN',
 'Netherlands',
 'DaKounty, Pa',
 'Tokyo',
 'DÌ_sseldorf, Germany',
 'Old Blighty',
 '??',
 'The land of New Jersey. ',
 'Atlanta Georgia',
 'MY RTs ARE NOT ENDORSEMENTS',
 'Kabul, Tuebingen, Innsbruck',
 'Light and dark, form and void',
 'Nairobi, Kenya ',
 'Erbil',
 'Stockton on tees Teesside UK',
 'Screwston, TX',
 'My old New England home',
 'melbourne',
 'Cape Town',
 'Ikeja, Nigeria',
 'Warwick, RI @Dollarocracy also',
 'texas a&m university',
 'MA',
 'Shipwreck Cove',
 'Sydney, Australia',
 'WorldWide',
 'Overland Park, KS',
 'SWMO',
 'Puerto Rico',
 'Toronto-Citizen of Canada & US',
 'Silicon Valley',
 'Washington, DC',
 'North East USA',
 'Washington, D.C.',
 'Singapore',
 'London',
 'United States',
 'VitÌ_ria (ES)',
 'Mumbai',
 'New Delhi, Delhi',
 'Buscame EL tu Melte',
 'Wiltshire',
 'PROUD INDIANS',
 'Leicester',
 'Mumbai , India',
 'Pittsburgh PA',
 'Boston',
 'MUM-DEL',
 'Leeds, England',
 'US',
 'California',
 'UK',
 'Nigeria',
 'Playa del Carmen, Mexico',
 'Leicester',
 'NY, CT & Greece',
 'Mumbai',
 'Mackay, QLD, Australia',
 'Quincy MA',
 'NJ',
 'Madison, GA',
 'KurveZ@GearHeadCentral.net',
 'St Charles, MD',
 'Denver, Colorado',
 'San Francisco',
 'Ziam af ',
 'GO BLUE! HAIL YES!!',
 'Chicago, IL',
 'Outside The Matrix, I Think.',
 'In Hell',
 'Epic City, BB.',
 'somewhere over a rainbow',
 'Selma2Oakland',
 'Bombardment Bay',
 'Savannah, GA',
 'dallas',
 'New Orleans ,Louisiana',
 'England, United Kingdom',
 'Dublin City, Ireland',
 'Leeds, England',
 'New Hampshire',
 'Washington, D.C.',
 'World Wide',
 'Intermountain West',
 'World Wide',
 'New Hampshire',
 'Manchester, NH',
 'Tulsa, Oklahoma',
 'Auburn, AL',
 'taken by piper curda',
 'Toronto',
 'Scotland ',
 'Nigeria, Global',
 'Fort Walton Beach, Fl',
 'Sweden',
 'Groton, CT',
 'Brisbane Australia',
 'NY Capital District',
 'Peoria',
 'Reading UK',
 'UK',
 'Concord, NH ',
 'CORNFIELDS',
 'Worcester, MA',
 'Roanoke, VA',
 'nj',
 'MA via PA',
 'Boston, MA',
 'World Wide',
 'New Hampshire',
 'Oklahoma City, OK',
 'toronto \x89Û¢ dallas',
 'San Diego CA',
 'germany',
 'Massachusetts',
 ' Nxgerxa',
 'Erie, PA',
 'Port Charlotte, FL',
 'Belleville, Illinois',
 'Alabama',
 'Long Island NY & San Francisco',
 'Canada',
 'Gainesville, FL',
 'Oakland, CA',
 '956',
 'Chicago',
 'Escondido, CA',
 'DC',
 'Chicago Area',
 'Upper St Clair, PA',
 'Cherry Creek Denver CO',
 '627',
 'Blogland',
 'mumbai',
 'Isle of Man',
 'Hampton Roads, VA',
 'Gameday',
 'Earthling (For now!)',
 'Black Canyon New River, AZ',
 'Caracas, Venezuela.',
 'NY',
 'Charlottetown',
 'Paradise, NV',
 '??t?a',
 'LiÌ¬ge',
 'Spokane, Washington 99206',
 'taco bell',
 'Australian Capital Territory',
 'http://www.amazon.com/dp/B00HR',
 'New York, NY',
 '[ kate + they/them + infp-t ]',
 'New York',
 'Sacramento, CA',
 'Mackay, QLD, Australia',
 'St Charles, MD',
 'please H? ?:??',
 'we?it \x89Û¢ ixwin',
 'Santiago Bernabeau',
 'y/e/l',
 'NJ',
 'Whiterun, Skyrim',
 'New Orleans ,Louisiana',
 'Seattle, WA',
 'Greenpoint, Brooklyn',
 'dallas',
 'Oklahoma City, OK',
 'Los Angeles',
 'Victoria, British Columbia',
 'a botanical garden probably',
 'Madison, GA',
 'Nelspruit, South Africa',
 'midwest',
 'Copenhagen, Capital Region of Denmark',
 'In Hell',
 'Spying on your thoughts',
 'seattle grace mercy death',
 'Selma2Oakland',
 'Tucson, Arizona ',
 'Epic City, BB.',
 'Charlotte County Florida',
 'Head Office: United Kingdom',
 'Mid north coast of NSW',
 'iPhone: -27.499212,153.011072',
 'Queen Creek AZ',
 'Jamaica',
 'Trinidad and Tobago',
 'Melbourne Australia',
 'The Internet & NYC',
 'London/Bristol/Guildford',
 'Canberra, Australian Capital Territory',
 'beacon hills ',
 'somewhere outside',
 'Wolmers Trust School for Boys ',
 'Loughborough.',
 'Sydney, Australia',
 'Selangor',
 'London',
 'indiana',
 'Philippines',
 'Bronx, New York',
 'Canadian bread',
 'Phoenix, AZ',
 "Le Moyne '16",
 'Hoxton, London',
 'Las Vegas, NV USA',
 'Heinz Field ',
 'Skyport de la Rosa',
 'USA',
 'The Low-Cal Calzone Zone',
 'Brooklyn, New York',
 'US',
 '50% Queanbeyan - 50% Sydney',
 'USA',
 'UK',
 'Insula Barataria',
 'everywhere ',
 'Afghanistan, USA',
 'Inglewood, CA',
 'Absecon, NJ',
 'Williamsbridge, Bronx, New Yor',
 'Northern Kentucky, USA',
 'Mostly Yuin.',
 'Nairobi',
 'Canada',
 'Rochelle, GA',
 'London UK',
 'south of heaven ',
 'El Dorado, KS',
 'Santa Monica, CA',
 'Kenya',
 '1648 Queen St. West, Toronto.',
 'Toledo, OH',
 'Fairfield, California',
 'Trinity, Bailiwick of Jersey',
 'Virginia',
 'LIVERPOOL',
 'Boulder, CO',
 'Washington, D.C.',
 'Hospital, bc of SKH vid.',
 'Hartford  London Hong Kong',
 "In @4SkinChan 's arms",
 'Massachusetts, USA',
 'Seattle',
 'Kansas City, MO',
 'Wellington, New Zealand',
 'West Virginia, USA',
 '?? ??',
 'Florida',
 'los angeles, ca',
 'New Brunswick, NJ',
 'City of Angels, CA',
 'Brooklyn, NY',
 'Morganville, Texas.',
 'America | New Zealand ',
 'Denver, CO',
 'Stockholm, Sweden',
 'Worldwide',
 'Azeroth',
 "Lytham St Anne's ",
 'Ylisse',
 'Wisconsin',
 'Portugal',
 'All around the world baby',
 '@UntmdOutdoors #T.O.R.K ',
 'Lima, PerÌ¼',
 'Toronto',
 'Piedmont Area, North Carolina',
 'Buxton, Venice, and Nottingham',
 'Quito, Ecuador.',
 'Inexpressible Island ',
 'San Jose, CA',
 'New York, NY',
 'United States',
 'New York',
 ' Bouvet Island',
 'Shirley, NY',
 'Planet Earth',
 'Paonia, Colorado ',
 'Inexpressible Island ',
 'Planet Earth',
 ...]